<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="brothers.scheucher.taskbro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="brothers.scheucher.taskbro.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="brothers.scheucher.taskbro.AddTask"
            android:label="@string/title_activity_add_task">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="brothers.scheucher.taskbro.MainActivity" />
        </activity>
        <activity
            android:name="brothers.scheucher.taskbro.AddEvent"
            android:label="@string/title_activity_add_event">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="brothers.scheucher.taskbro.MainActivity" />
        </activity>
        <activity
            android:name="brothers.scheucher.taskbro.AddLabel"
            android:label="@string/title_activity_add_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="brothers.scheucher.taskbro.MainActivity" />
        </activity>
        <activity
            android:name=".DaySetting"
            android:label="Einstellungen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="brothers.scheucher.taskbro.MainActivity" />
        </activity>
        <activity
            android:name="brothers.scheucher.taskbro.UserSettingActivity"
            android:label="Einstellungen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="brothers.scheucher.taskbro.MainActivity" />
        </activity>
        <activity
            android:name="brothers.scheucher.taskbro.ViewTask"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="brothers.scheucher.taskbro.MainActivity" />
        </activity>
        <activity
            android:name="brothers.scheucher.taskbro.ViewEvent"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="brothers.scheucher.taskbro.MainActivity" />
        </activity>
        <activity
            android:name="brothers.scheucher.taskbro.PotentialActivity"
            android:label="@string/title_activity_potential"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="brothers.scheucher.taskbro.MainActivity" />
        </activity>
    </application>

</manifest>
